body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  padding-bottom: 50px;
}

.img {
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
}

.header-logo {
  display: block;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.header-logo .part-logo {
  color: #2196f3;
}

@media (max-width: 767px) {
  .header-logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .header-logo {
    padding-top: 26px;
    padding-bottom: 26px;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 1200px) {
  .header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 48px;
    background-color: white;
  }
}

@media (min-width: 768px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.header-button .header-icon-close {
  display: none;
}

.header-button.is-open .header-icon-close {
  display: block;
}

.header-button.is-open .header-icon-menu {
  display: none;
}

.header-button:focus, .header-button:hover {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .header-button {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .header .site-nav {
    margin-bottom: 48px;
  }
}

@media (min-width: 768px) {
  .header .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 84px;
  }
}

@media (min-width: 1200px) {
  .header .site-nav {
    margin-right: 305px;
  }
}

.header .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .header .link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    display: block;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (max-width: 767px) {
  .header .item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.header .link:focus,
.header .link:hover {
  color: #2196f3;
}

.header .link.current {
  color: #2196f3;
}

.item {
  position: relative;
}

@media (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .item:not(:last-child) {
    margin-right: 50px;
  }
}

@media (min-width: 768px) {
  .current:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.contacts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .contacts-link {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .contacts-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link-link:hover, .contacts-link-link:focus {
    color: #2196f3;
  }
}

@media (min-width: 1200px) {
  .contacts .contacts-link:hover,
  .contacts .contacts-link:focus {
    color: #2196f3;
  }
}

.contacts-tel {
  font-size: 34px;
  line-height: 1.18;
  color: #2196f3;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .contacts-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts-tel {
    margin-bottom: 0;
  }
}

.contacts-mail {
  font-size: 24px;
  line-height: 1.18;
  color: #757575;
}

@media (min-width: 768px) {
  .contacts-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
  }
}

@media (min-width: 1200px) {
  .contacts-mail {
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .contacts {
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .contacts-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts-svg {
    display: none;
  }
}

@media (min-width: 768px) {
  .contacts-svg {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media (min-width: 1200px) {
  .contacts-svg {
    margin-right: 10px;
  }
}

.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.network-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  color: #2196f3;
}

.network-list:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.network-list:not(:first-child) {
  padding-left: 10px;
}

@media (min-width: 768px) {
  .network {
    display: none;
  }
}

.hero {
  text-align: center;
  height: 400px;
  background-color: #c4c4c4;
  padding-top: 118px;
  background-size: cover;
}

.hero-title, .hero-button {
  color: #ffffff;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-block;
  width: 200px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 0;
  border: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/mobile/hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/mobile/hero.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/mobile/hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/mobile/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/tablet/hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/tablet/hero.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/tablet/hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/tablet/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/desktop/hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/desktop/hero.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/desktop/hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/desktop/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
  }
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    min-width: 900px;
  }
}

.advantages-top {
  padding-top: 60px;
  padding-bottom: 30px;
}

.advantages-caption {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}

.advantages {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages-lists {
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-pic {
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-subtitle {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: inherit;
  text-transform: uppercase;
  line-height: 1.142;
  margin-bottom: 10px;
  text-align: center;
}

.advantages-text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages-lists {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-top {
    padding-top: 94px;
  }
  .container {
    padding: 0;
  }
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages-lists {
    width: 270px;
  }
  .advantages-subtitle {
    text-align: left;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-photo {
  position: relative;
}

.work-photo:not(:last-child) {
  margin-right: 30px;
}

.work-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .work-container {
    display: none;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team-item .team-photo {
  margin-bottom: 30px;
}

.team-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.team-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  padding-bottom: 16px;
  text-align: center;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
  margin-bottom: 30px;
  margin-left: 32px;
}

.team-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: #2196f3;
}

.team-icon:not(:last-child) {
  margin-right: 10px;
}

.team-svg {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover .team-svg,
.team-link:focus .team-svg {
  fill: #ffffff;
}

@media (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-item {
    width: calc((100% - 2 * 30px) / 2);
    margin-bottom: 30px;
  }
  .team-item:nth-of-type(2n + 1) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-item {
    width: calc((100% - 2 * 30px) / 4);
    margin-bottom: 30px;
  }
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}
/*# sourceMappingURL=main.css.map */