.advantages {
  justify-content: center;

  &-top {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  &-caption {
    margin-top: 0;
    margin-bottom: 0;
    display: none;
  }

  &-lists {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &-pic {
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-subtitle {
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: inherit;
    text-transform: uppercase;
    line-height: 1.142;
    margin-bottom: 10px;
    text-align: center;
  }

  &-text {
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;

    &-lists {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

    &-top {
      padding-top: 94px;
    }

    &-lists {
      width: 270px;
    }
    &-subtitle {
      text-align: left;
    }
  }
}
