.advantages-top {
  padding-top: 60px;
  padding-bottom: 30px;
}

.advantages-caption {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}

.advantages {
  justify-content: center;
}

.advantages-lists {
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-pic {
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-subtitle {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: inherit;
  text-transform: uppercase;
  line-height: 1.142;
  margin-bottom: 10px;
  text-align: center;
}

.advantages-text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages-lists {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    // max-width: #{(((768px)- (30px * 2))/2)};
    // margin-left: 15px;
    // margin-right: 15px;
  }
  // .values .container {
  //   padding: 0;
  // }
}

@media screen and (min-width: 1200px) {
  .advantages-top {
    padding-top: 94px;
  }

  .advantages {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  .advantages-lists {
    width: 270px;
  }
  .advantages-subtitle {
    text-align: left;
  }
}
// .advantages {
//   display: flex;

//   &-top {
//     padding-bottom: 0;
//   }
//   &-caption {
//     margin-top: 0;
//     margin-bottom: 0;
//     display: none;
//   }
//   &-pic {
//     background-color: $second-bg-color;
//     height: 120px;
//     width: 270px;
//     margin-bottom: 30px;
//     border-radius: 4px;
//     padding: 25px 100px;
//   }
//   &-lists {
//     width: 270px;
//   }
//   &-lists:not(:last-child) {
//     margin-right: 30px;
//   }
//   &-subtitle {
//     color: $title-text-color;

//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     text-transform: uppercase;

//     margin-top: 0;
//     margin-bottom: 10px;
//   }
//   &-text {
//     color: $primary-text-color;
//     margin: 0;
//   }
// }
