.clients {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

// .clients-list:nth-child(2n + 1) {
//   margin-right: 30px;
// }
.clients-link {
  display: flex;

  height: 90px;
  padding: 20px 45px;
  border-radius: 4px;
  border: 1px solid $icon-color;
  margin-bottom: 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767px) {
  .clients-list {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .clients-list:nth-child(2n) {
    margin-right: 0;
  }
}
.clients-link:focus,
.clients-link:hover {
  border-color: $accent-color;
  fill: $icon-color;
}
.clients-link:focus .clients-svg,
.clients-link:hover .clients-svg {
  fill: $accent-color;
}
.clients-link:focus .clients-svg,
.clients-link:hover .clients-svg {
  fill: $accent-color;
}
.clients-svg {
  fill: $icon-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .clients-link {
    display: flex;
    height: 90px;
    padding: 20px 45px;
    border-radius: 4px;
    border: 1px solid $icon-color;
    margin-bottom: 30px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media (max-width: 1199px) {
    .clients-list {
      width: calc((100% - 90px) / 3);
      margin-right: 30px;
    }
    .clients-list :nth-child(3n) {
      margin-right: 0;
    }
  }
}
@media (min-width: 1200px) {
  .clients {
    display: flex;
    margin-bottom: 0;

    &-list:not(:last-child) {
      margin-right: 30px;
    }
    &-list:not(:last-child) {
      margin-right: 30px;
    }
    &-link {
      display: flex;
      width: 170px;
      height: 90px;
      padding: 20px 45px;
      border-radius: 4px;
      border: 1px solid $icon-color;
      margin-bottom: 0;

      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-link:focus,
    &-link:hover {
      border-color: $accent-color;
      fill: $icon-color;
    }
    &-link:focus &-svg,
    &-link:hover &-svg {
      fill: $accent-color;
    }
    &-link:focus &-svg,
    &-link:hover &-svg {
      fill: $accent-color;
    }
    &-svg {
      fill: $icon-color;

      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
