.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

.section-title {
  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  padding-bottom: 50px;
}

.img {
  margin: 0;
  padding: 0;
}
