.join {
  .join-ul {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }
  .join-list:not(:last-child) {
    margin-right: 10px;
  }
  .join-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;

    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .join-link:focus,
  .join-link:hover {
    background-color: $accent-color;
  }
  .join-svg {
    fill: $primary-bg-color;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    margin-right: 93px;

    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;

      margin-bottom: 20px;
    }
    &-ul {
      display: flex;
    }
    &-list:not(:last-child) {
      margin-right: 10px;
    }
    &-link {
      display: flex;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      padding: 12px;

      background: rgba(255, 255, 255, 0.1);

      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-link:focus,
    &-link:hover {
      background-color: $accent-color;
    }
    &-svg {
      fill: $primary-bg-color;
    }
  }
}
