.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  color: $primary-bg-color;
  background-color: $hero-footer-bg-color;

  &-div {
    display: flex;
  }

  &-logo {
    color: #000000;

    font-family: $sec-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    display: block;
    color: $primary-bg-color;
    margin-bottom: 20px;
    text-decoration: none;
  }
  &-logo .part-logo {
    color: $accent-color;
  }
  &-block {
    width: 231px;
  }
  &-address {
    font-style: normal;
    margin-bottom: 9px;
  }
  & > a {
    color: $primary-bg-color;
  }
  &-info:not(:last-child) {
    margin-bottom: 9px;
  }
  &-contacts a {
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
  }
}
