.footer {
  padding-top: 60px;
  color: $primary-bg-color;
  background-color: $hero-footer-bg-color;
  text-align: center;
  .footer-logo {
    color: #000000;

    font-family: $sec-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    display: block;
    color: $primary-bg-color;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .footer-logo .part-logo {
    color: $accent-color;
  }
}
.footer > a {
  color: $primary-bg-color;
}
.footer-info:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts a {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
}
.footer-address {
  font-style: normal;
  margin-bottom: 9px;
}
.footer-contacts {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;

    color: $primary-bg-color;
    background-color: $hero-footer-bg-color;

    &-div {
      display: flex;
    }

    &-block {
      width: 231px;
    }
  }
}
