.checkbox {
  padding-bottom: 30px;

  &-label {
    position: relative;
    padding-left: 24px;
    // margin-left: 14px;

    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.03em;

    color: $primary-text-color;
  }
  &-old {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    overflow: hidden;
  }
  &-svg {
    position: absolute;
    bottom: 50%;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 3px;
    cursor: pointer;
    transform: translateY(50%);
    fill: $primary-bg-color;
  }
  &-link {
    text-decoration-skip-ink: none;
  }
  &-old:checked + &-svg {
    background-color: $accent-color;
    background-image: url(../../img/svg/icon_check_new.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
  }
}
@media (min-width: 1200px) {
  .checkbox {
    padding-bottom: 30px;

    &-label {
      position: relative;
      padding-left: 24px;
      margin-left: 14px;

      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;

      letter-spacing: 0.03em;

      color: $primary-text-color;
    }
    &-label {
      position: relative;
      padding-left: 24px;
      margin-left: 14px;

      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;

      letter-spacing: 0.03em;

      color: $primary-text-color;
    }
    &-old {
      position: absolute;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      overflow: hidden;
    }
    &-svg {
      position: absolute;
      bottom: 50%;
      left: 0;
      display: inline-block;
      width: 16px;
      height: 15px;
      border: 2px solid $title-text-color;
      border-radius: 3px;
      cursor: pointer;
      transform: translateY(50%);
      fill: $primary-bg-color;
    }
    &-link {
      text-decoration-skip-ink: none;
    }
    &-old:checked + &-svg {
      background-color: $accent-color;
      background-image: url(../../img/svg/icon_check_new.svg);
      background-size: contain;
      background-origin: border-box;
      border-color: transparent;
    }
  }
}
