.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -15px;
  justify-content: center;
  justify-content: start;
}
@media screen and (max-width: 767px) {
  .portfolio {
    margin-top: 60px;
    margin-bottom: 40px;

    &-control:not(:last-of-type) {
      margin-right: 8px;
      margin-bottom: 15px;
    }
    &-title {
      display: none;
    }

    &-control:not(:last-child) {
      margin-right: 8px;
    }
    &-button {
      color: $title-text-color;
      background-color: $second-bg-color;

      font-family: inherit;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;

      padding-top: 6px;
      padding-right: 22px;
      padding-bottom: 6px;
      padding-left: 22px;
      border-radius: 4px;
      border: 1px solid transparent;
      display: inline-block;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-button:hover,
    &-button:focus {
      color: $primary-bg-color;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    margin-top: 60px;
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0;
  }
}
