.header {
  border-bottom: 1px solid #ececec;

  position: relative;

  &-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }

  &-logo {
    display: block;
    color: #000000;

    font-family: $sec-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

    text-decoration: none;
  }
  &-logo .part-logo {
    color: $accent-color;
  }
  @media (max-width: 767px) {
    &-logo {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  @media (min-width: 768px) {
    &-logo {
      padding-top: 26px;
      padding-bottom: 26px;

      letter-spacing: 0.03em;
    }
  }
  @media (min-width: 1200px) {
    &-logo {
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 26px;
      line-height: 1.19;
    }
  }

  &-menu {
    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;
      height: 100%;
      padding-top: 48px;
      padding-right: 40px;
      padding-bottom: 40px;
      padding-left: 48px;
      background-color: white;
    }
    @media (min-width: 768px) {
      display: flex;
    }
  }
  &-menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;

    z-index: 1;
  }
  &-button &-icon-close {
    display: none;
  }
  &-button.is-open &-icon-close {
    display: block;
  }
  &-button.is-open &-icon-menu {
    display: none;
  }
  &-button:focus,
  &-button:hover {
    fill: $accent-color;
  }
  @media (min-width: 768px) {
    &-button {
      display: none;
    }
  }
  @media (min-width: 1200px) {
    &-nav {
      display: flex;
    }
  }
  // .new-header {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  .site-nav {
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      & {
        margin-bottom: 48px;
      }
    }

    @media (min-width: 768px) {
      & {
        display: flex;
        flex-direction: row;

        justify-content: center;

        margin-right: 84px;
      }
    }

    @media (min-width: 1200px) {
      & {
        margin-right: 305px;
      }
    }
  }
  & .link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    text-decoration: none;

    color: $title-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 1.14;

      padding-top: 32px;
      padding-bottom: 32px;

      position: relative;
      display: block;

      color: #212121;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @media (max-width: 767px) {
    & .item:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  & .link:focus,
  & .link:hover {
    color: $accent-color;
  }
  & .link.current {
    color: $accent-color;
  }
}
.item {
  position: relative;
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @media (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

@media (min-width: 768px) {
  .current:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

//   &-nav {
//     display: flex;
//     align-items: center;
//     // min-height: 60px;
//   }

//   &-logo {
//     color: #000000;
//     // display: flex;

//     font-family: $sec-font-family;
//     font-weight: 700;
//     font-size: 24px;
//     line-height: 1.17;

//     text-decoration: none;

//     // padding-top: 16px;
//     // padding-bottom: 16px;
//   }
//   &-logo .part-logo {
//     color: $accent-color;
//   }
//   &-button {
//     display: inline-flex;
//     margin: 0;
//     padding: 0;
//     border: 0;

//     // width: 40px;

//     border: none;
//     background-color: transparent;
//   }
//   &-button &-icon-close {
//     display: none;
//   }
//   &-button.is-open &-icon-close {
//     display: block;
//   }
//   &-button.is-open &-icon-menu {
//     display: none;
//   }
//   &-button:focus,
//   &-button:hover {
//     fill: $accent-color;
//   }
// }
// &-menu {
//   display: none;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 100%;
//   background-color: white;
//   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
//     0px 1px 3px rgba(0, 0, 0, 0.16);
// }

// .site-nav {
//   // display: none;
//   // position: absolute;
//   // top: 100%;
//   // left: 0;
//   // width: 100%;
//   // background-color: white;
//   // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
//   //   0px 1px 3px rgba(0, 0, 0, 0.16);
//   &.is-open {
//     display: block;
//   }

//   & .link {
//     font-weight: 500;
//     font-size: 18px;
//     line-height: 1.17;
//     letter-spacing: 0.02em;
//     display: block;
//     text-decoration: none;
//     text-align: center;
//     // padding-top: 32px;
//     // padding-bottom: 32px;
//     color: $title-text-color;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   & .link:focus,
//   & .link:hover {
//     color: $accent-color;
//   }
//   & .link.current {
//     color: $accent-color;
//   }
// }

// .header-nav {
//   display: flex;
//   align-items: center;
// }
// .site-nav {
//   display: flex;
//   margin-left: 93px;

//   & .item:not(:last-child) {
//     margin-right: 50px;
//   }
//   & .link {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     text-decoration: none;
//     position: relative;
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     color: $title-text-color;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   & .link:focus,
//   & .link:hover {
//     color: $accent-color;
//   }
//   & .link.current {
//     color: $accent-color;
//   }
// }

// .current:after {
//   position: absolute;
//   content: "";
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 4px;
//   border-radius: 2px;
//   background-color: $accent-color;
// }

// .header {
//   border-bottom: 1px solid #ececec;

//   &-logo {
//     color: #000000;
//     // display: flex;

//     font-family: $sec-font-family;
//     font-weight: 700;
//     font-size: 24px;
//     line-height: 1.17;

//     text-decoration: none;

//     padding-top: 16px;
//     padding-bottom: 16px;
//   }
//   &-logo .part-logo {
//     color: $accent-color;
//   }
// }

// .header {
//   border-bottom: 1px solid #ececec;

//   & > .container {
//     display: flex;
//     align-items: center;
//   }
//   &-logo {
//     color: #000000;

//     font-family: $sec-font-family;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;

//     text-decoration: none;
//   }
//   &-logo .part-logo {
//     color: $accent-color;
//   }
// }
