.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $second-bg-color;

  &-item &-photo {
    margin-bottom: 30px;
  }

  &-title {
    color: $title-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;

    text-align: center;
  }

  &-text {
    color: $primary-text-color;

    font-size: 16px;
    line-height: 1.19;

    padding-bottom: 16px;

    text-align: center;
  }

  &-item {
    background-color: $primary-bg-color;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &-card {
    display: flex;
    justify-content: center;
    margin-right: 32px;
    margin-bottom: 30px;
    margin-left: 32px;
    padding-bottom: 30px;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-link:hover,
  &-link:focus {
    background-color: $accent-color;
  }

  &-icon:not(:last-child) {
    margin-right: 10px;
  }

  &-svg {
    fill: $icon-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-link:hover &-svg,
  &-link:focus &-svg {
    fill: $primary-bg-color;
  }
}

@media (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    &-item {
      width: calc((100% - 2 * 30px) / 2);
      margin-bottom: 30px;
    }

    &-item:nth-of-type(2n + 1) {
      margin-right: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .team {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: calc((100% - 3 * 30px) / 4);
      margin-bottom: 30px;
    }

    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}
