// .work {
//   display: flex;

//   &-photo {
//     position: relative;
//   }
//   &-photo:not(:last-child) {
//     margin-right: 30px;
//   }
//   &-title {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     text-align: center;
//     text-transform: uppercase;

//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translate(-50%, 0);

//     width: 100%;
//     padding-top: 27px;
//     padding-bottom: 27px;

//     color: $primary-bg-color;
//     background: rgba(47, 48, 58, 0.8);
//   }
// }
