$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$second-bg-color: #f5f4fa;
$hero-footer-bg-color: #2f303a;
$icon-color: #afb1b8;

$main-font-family: Roboto, sans-serif;
$sec-font-family: Raleway, sans-serif;
